@charset "UTF-8";
@font-face {
  font-family: "iconfont4s";
  src: url("../fonts/iconfont4s.eot");
  src: url("../fonts/iconfont4s.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont4s.woff") format("woff"), url("../fonts/iconfont4s.ttf") format("truetype"), url("../fonts/iconfont4s.svg#iconfont4s") format("svg");
  font-weight: normal;
  font-style: normal;
}
.if4s {
  font-family: "iconfont4s" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.if4s-bulb:before {
  content: "\EA01";
}
.if4s-arts:before {
  content: "\EA02";
}
.if4s-parent:before {
  content: "\EA03";
}
.if4s-school-generic:before {
  content: "\EA04";
}
.if4s-speaker:before {
  content: "\EA05";
}
.if4s-teacher:before {
  content: "\EA06";
}
.if4s-award:before {
  content: "\EA07";
}
.if4s-biology:before {
  content: "\EA08";
}
.if4s-business:before {
  content: "\EA09";
}
.if4s-chemistry:before {
  content: "\EA0A";
}
.if4s-citizenship:before {
  content: "\EA0B";
}
.if4s-computing:before {
  content: "\EA0C";
}
.if4s-design:before {
  content: "\EA0D";
}
.if4s-duedil:before {
  content: "\EA0E";
}
.if4s-economics:before {
  content: "\EA0F";
}
.if4s-edmodo:before {
  content: "\EA10";
}
.if4s-engineering:before {
  content: "\EA11";
}
.if4s-female:before {
  content: "\EA12";
}
.if4s-geography:before {
  content: "\EA13";
}
.if4s-govmt:before {
  content: "\EA14";
}
.if4s-grid:before {
  content: "\EA15";
}
.if4s-history:before {
  content: "\EA16";
}
.if4s-house:before {
  content: "\EA17";
}
.if4s-languages:before {
  content: "\EA18";
}
.if4s-law:before {
  content: "\EA19";
}
.if4s-list:before {
  content: "\EA1A";
}
.if4s-literature:before {
  content: "\EA1B";
}
.if4s-male:before {
  content: "\EA1C";
}
.if4s-marketing:before {
  content: "\EA1D";
}
.if4s-maths:before {
  content: "\EA1E";
}
.if4s-media:before {
  content: "\EA1F";
}
.if4s-medicine:before {
  content: "\EA20";
}
.if4s-music:before {
  content: "\EA21";
}
.if4s-network:before {
  content: "\EA22";
}
.if4s-paint:before {
  content: "\EA23";
}
.if4s-philosophy:before {
  content: "\EA24";
}
.if4s-physics:before {
  content: "\EA25";
}
.if4s-psychology:before {
  content: "\EA26";
}
.if4s-religion:before {
  content: "\EA27";
}
.if4s-science:before {
  content: "\EA28";
}
.if4s-sociology:before {
  content: "\EA29";
}
.if4s-step-1:before {
  content: "\EA2A";
}
.if4s-step-2:before {
  content: "\EA2B";
}
.if4s-step-3:before {
  content: "\EA2C";
}
.if4s-students:before {
  content: "\EA2D";
}
.if4s-tech:before {
  content: "\EA2E";
}
.if4s-checkflag:before {
  content: "\EA2F";
}
.if4s-politics:before {
  content: "\EA30";
}
.if4s-physed:before {
  content: "\EA31";
}
.if4s-role-model:before {
  content: "\EA32";
}
.if4s-careers-fair:before {
  content: "\EA33";
}
.if4s-lightbulb:before {
  content: "\EA34";
}
.if4s-school:before {
  content: "\EA35";
}
.if4s-students-half:before {
  content: "\EA36";
}
.if4s-calendar:before {
  content: "\EA37";
}
.if4s-email:before {
  content: "\EA38";
}
.if4s-phone:before {
  content: "\EA39";
}
.if4s-alert:before {
  content: "\EA3A";
}
.if4s-arrow-up:before {
  content: "\EA3B";
}
.if4s-register:before {
  content: "\EA3C";
}
.if4s-signin:before {
  content: "\EA3D";
}
